<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div style="text-align:center; margin-top:200px;">
    <a href="{% url 'create-group' %}" style="border:1px solid red; font-size:30px; background:black; color:white; text-decoration:none;"> Create Group </a>
    <br>
    <div style="margin-top:40px;">
    <a href="{% url 'show-group' %}" style="border:1px solid red; font-size:30px; background:black; color:white; text-decoration:none;"> Show Group </a>
</div>
</div>
</body>
</html>